* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Arial';
}

a {
	color: inherit;
	text-decoration: none;
}

.white-title,
.black-title {
	font-size: 36px;
	font-weight: bold;
}

.white-title {
	color: #ffffff;
}

.black-title {
	color: #252525;
}

.white-subtitle,
.black-subtitle {
	font-size: 24px;
	font-weight: 540;
}

.white-subtitle {
	color: #ffffff;
}

.black-subtitle {
	color: #252525;
}

.white-text,
.black-text {
	font-size: 18px;
	line-height: 30px;
}

.white-text {
	color: #ffffff;
}

.black-text {
	color: #6e6e6e;
}

@media (max-width: 650px) {
	.white-title,
	.black-title {
		font-size: 32px;
		font-weight: bold;
	}

	.white-subtitle,
	.black-subtitle {
		font-size: 22px;
	}

	.white-text,
	.black-text {
		font-size: 16px;
	}
}
