* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Arial';
}

a {
	color: inherit;
	text-decoration: none;
}

.white-text,
.black-text {
	font-size: 18px;
	line-height: 30px;
}

.white-text {
	color: #ffffff;
}

.black-text {
	color: #6e6e6e;
}

@media (max-width: 650px) {
	.white-text,
	.black-text {
		font-size: 16px;
	}
}
